<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/factory.js"></script>

<div ng-app="app" ng-controller="CityController">   
    <select ng-model="selectedItem" ng-options="item.plaka as item.il for item in cityList" ng-change="update()"></select>
    <h1>{{Plaka}}</h1>
</div>
