
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script src="~/Scripts/jquery.cookie-1.4.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/provider.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Provider</title>
</head>
<body>
    <div ng-app='app' ng-controller='myCtrl'>
        <b>Ad:</b> <input type="text" ng-model="UserName" focus/>
        <b>Soyad:</b> <input type="text" ng-model="UserSurname" /> 
        <input type="button" ng-click="SetUser()" value="Giriş" /><br /><br />
        <h1>{{Message}}</h1>
    </div>
</body>
</html>
